*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.section1{
        width: 100%;
        /* display: none; */
}
.section1 header{
    background-color: #303030da;
    display: flex;
    justify-content:space-around ;
    padding: 20px 30px;
    width: 100%;
    z-index: 100;
    position: fixed;
}
header h1{
    color: rgb(249, 47, 61);
    font-size: 25px;
}
header h1 #AL{
    color:rgb(35, 30, 30) ;
}
header h1 #shi{
    color:rgb(255, 255, 255) ;
}
header h1 #Web{
    color:rgb(36, 155, 72) ;
}
header h1 #Site{
    color:rgb(79, 222, 119) ;
}
header ul{
    display: flex;
}
header ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 15px;
    transition: 0.3s;
}
ul li a:hover{
    text-decoration: underline;
    color: blue;
}
ul li #Protfolio{
    color: rgb(255, 46, 46);
    text-decoration: underline;
}
header #sub{
    background-color: white;
    padding: 2px 30px;
    border-radius: 5px;
    margin-left: 20px;
    border: none;
    transition: 0.3s;
}
header #sub:hover{
    background-color: rgb(255, 48, 48);
    color: white;
}
.main{
    display: flex;
    /* height: 140vh; */
    width: 100%;
    background-color: #f1f1f1;
    overflow: hidden;
    padding: 30px 100px;
}
.main .left{
    width: 55%;
    padding: 50px;
}
.left h4{
    color: black;
    font-size: 30px;
    margin-top: 50px;
}
.left h1 .name{
    color: #eb804c;
}
.left h1{
    margin: 10px 0;
    font-size: 45px;
    color: black;
    font-weight: 700px;
}
.left p{
    color: rgba(8, 63, 83, 0.62);
    font-size: 15px;
    margin: 40px 0;
}
.left button{
    background-color: rgba(0, 0, 255 ,0.679);
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    transition: 0.3s;
    margin-right: 20px;
    cursor: pointer;
}
.left #btn1{
    background-color: rgb(32, 5, 5);
}
.left #btn2{
    background-color: #eed100;
}
.left #btn1:hover{
    background-color: rgb(77, 46, 255);
}
.left #btn2:hover{
    background-color: rgb(253, 47, 47);
}
.main .right{
    background-image: url('image/hamode-photo.avif');
    background-position: -120px 0 0 90px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 500px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 40px;
}
.section2{
    width: 100%;
    height: 700px;
    background-color: black;
    display: flex;
    justify-content:space-between;
    color:white;
}
.section2 .left{
    width: 400px;
    height: 500px;
    background-image: url('image/hamode-photo.avif');
    background-position: -120px 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-top: 130px;
    margin-left: 100px;
    box-shadow: 0 0 30px yellow;
}
.section2 .right{
    width: 60%;
    padding: 20px 100px;
}
.section2 .right h3{
    margin-top: 180px;
}
.section2 .right h3 span{
    color : orange;
}
.section2 .right h1 span{
    color : orange;
}
.section2 .right h1{
    font-size: 50px;
}
.section2 .right p{
    margin: 20px 0;
}
.section2 .right button{
    padding: 10px 35px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}
.section2 .right button:hover{
    background-color: rgb(253, 69, 69);
    color: white;
}
.section3{
    width: 100%;
    height: 700px;
    background-color: #f1f1f1;
    position: relative;
    text-align: center;
}
.section3 h1 span{
    color: orange;
    line-height: 100px;
}
.section3 form{
    width: 400px;
    background-color: rgba(220, 216, 216,0.759);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:  30px;
}
form input{
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}
form textarea{
    width: 100%;
    padding: 10px;
    height: 150px;
    border-radius: 4px;
}
form button{
    padding: 8px 60px;
    margin-top:20px ;
    color: rgb(7, 5, 43);
    text-transform: uppercase;
}